<header>
    <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>Wellcome to Gudang Code</h1>
                    <p class="lead">Kumpulan Source Code Website dan Aplikasi Gratis</p>

                    <a href="/archive/"
                    class="button is-primary is-light">
                    <span class="icon">
                        <i class="fas fa-plus has-text-primary"></i>
                    </span> 
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Mulai Coding Sekarang !</button>
                </a>
                </div>
        </div>
    </div>
</header>