<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{{.Site.BaseURL}}"><img src="/img/logo-1.png" width="40" height="40" class="d-inline-block align-top rounded-circle"
            alt="">udangCode</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial/"><h6> Tutorial </h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/"><h6> Artikel </h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h6> Archive </h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive/"><h6> Video </h6></a>
                </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0" action="https://www.google.co.id" id="cse-search-box">
                <input type="hidden" name="cx" value="partner-pub-6279325630224392:9670052267" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="hidden" name="sa" value="search" />
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Kata Kunci" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Cari</button>
            </form>
        </div>
    </div>
</nav>